<div class="container" *ngIf="country">
  <div class="main">
    <!-- [style.backgroundImage]="'url(' + country.flags.svg + ')'" -->

    <div class="title">
      <div class="coa">
        <img
          class="subtitle-coatOfArms"
          [src]="country.coatOfArms.svg"
          alt="{{ country.name.common }}"
        />
      </div>
      <div class="name">
        <div class="common">
          <h1 class="subtitle-heading">{{ country.name.common }}</h1>
        </div>
        <div class="official">
          <h3 class="subtitle-heading">{{ country.name.official }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="flag">
      <img [src]="country.flags.svg" alt="{{ country.name.common }}" />
    </div>
    <div class="stats">
      <strong>{{ country.name.common }}</strong> is locatedon in the region of <strong>{{ country.subregion }}</strong>, on the continent of <strong>{{ country.continents[0] }}</strong>.
      <br>
      <strong>{{ country.name.common }}'s</strong> capital is <strong>{{ country.capital[0] }}</strong> and has a current population of <strong>{{country.population | number }}</strong><div class=""></div>
      <br>
      <p>The country is situated in the <strong>{{ country.timezones }}</strong> timezone, with thier week starting on a <strong>{{ country.startOfWeek | titlecase }}</strong>.</p>
      <p>They drive on the <strong>{{ country.car.side | titlecase}}</strong> side of the road.</p>
    </div>
  </div>
</div>
