<p>country-list works!</p>

<div class="container country-grid">

  @for (country of countries; track $index) { @defer (on viewport) {

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img [src]="country.coatOfArms.svg" alt="{{ country.name.common }} Coat of Arms"></div>
        <mat-card-title>{{country.name.common}}</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="country.flags.svg"
        alt="{{ country.name.common }} Flag"
      />
      <!-- <mat-card-content>
      </mat-card-content> -->
      <!-- <mat-card-actions>
      </mat-card-actions> -->
    </mat-card>

  <!-- <img [src]="country.flags.svg" alt="{{ country.name.common }} Flag" /> -->
  <!-- <img
    *ngIf="country.coatOfArms"
    class="coat-of-arms"
    [src]="country.coatOfArms.svg"
    alt="{{ country.name.common }} Coat of Arms"
  />
  {{ country.name.common }} -->
  } @loading { Loading… } @placeholder {
  <img src="comments-placeholder.png" />
  } } @empty { Empty List of Countries }

</div>
