<div class="container">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. South Africa"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flag</th>
        <td mat-cell *matCellDef="let country">
          <img
            class="country-flag"
            [src]="country.flags.png"
            alt="{{ country.name.common }} Flag"
            (click)="openCountryModal(country)"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="coatOfArms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Coat of Arms</th>
        <td mat-cell *matCellDef="let country">
          <div
            class="coatOfArms-image"
          >
            <img
              *ngIf="country.coatOfArms"
              class="coatOfArms"
              [src]="country.coatOfArms.png"
              alt="{{ country.name.common }} Coat of Arms"
            />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let country">{{ country.name.common }}</td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
        <td mat-cell *matCellDef="let country">{{ country.region }}</td>
      </ng-container>

      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef>Favorite</th>
        <td mat-cell *matCellDef="let country">
          <button mat-icon-button (click)="toggleFavorite(country)">
            <mat-icon [ngClass]="{'favorite-icon': isFavorite(country)}">favorite</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of Countries"
    ></mat-paginator>
  </div>
</div>
