table {
  width: 100%;
}
tr {
  height: 100px;
}

.country-flag {
  height: 100px;
  width: 200px;
}

.coatOfArms {
  height: 60px;
}

.combined-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.favorite-icon {
  color: red;
}

.favorits-page {
  border: 1px solid #afafaf;
  border-radius: 20px;
  margin-bottom: 20px;
}

.favorites-page-link {
  .icon {
    margin-right: 10px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  color: blue;
}